.torneo-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    background-color: #162230;
    background: linear-gradient(to bottom , #1e2a38, #111827);
    
    border-radius: 20px;
    
}
.torneo-container h2{
    margin: auto;
}
.torneo-container-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}
.torneo-container-content > *{
    margin: 20px;
}
.torneo-informacion-header-view{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
    border-bottom: 3px solid #00d9ffb9;
}
.torneo-informacion-header-view h2{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}
.torneo-informacion-header-view h4{
    font-size: 1.2rem;
    font-weight: 400;
    color: #aaa;
    text-align: center;
}
.torneo-informacion-header-view h4.campeon{
    color: #ffffff;
    font-weight: bold;
}
.torneo-container-content-full-view{
    margin-top: 20px;
    
}