<div class="tournament-window p-4 rounded-4 shadow">
    <div class="tournament-window-top position-relative text-center">
        <img src="./assets/img/logo.png" alt="Logo PlayOn" class="logo-background">
        <h1 class="text-white position-relative"><strong>Mis Torneos</strong></h1>
    </div>

    <div class="tournament-container mt-4">
    <!-- Cabecera -->
        <div class="tournament-header d-flex justify-content-between text-white px-4 py-2">
            <strong>Nombre</strong>
            <strong>Ubicacion</strong>
            <strong>Modalidad</strong>
            <strong>Fecha</strong>
            <strong>Estado</strong>
            <strong>Acciones</strong>
        </div>

        <div id="tournament-container" class="tournament-container">
        <!-- Aquí se insertan las tarjetas dinámicamente -->
            <div class="tournament-card d-flex justify-content-between align-items-center px-4 py-3 my-2 rounded text-white">
                <p>tarjeta Pendiente</p>
                <p> Pendiente</p>
            </div>
        </div>
    </div>
  </div>