<div class="tabla-container">
    <h3>Tabla de Posiciones</h3>
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>Equipos</th>
            <th>PTS</th>
            <th>J</th>
            <th>G</th>
            <th>E</th>
            <th>P</th>
            <th>+/-</th>
            <th>Gol</th>
        </tr>
        </thead>
        <tbody>
        <tr><td>1</td><td>Flamengo</td><td>24</td><td>11</td><td>7</td><td>3</td><td>1</td><td>20</td><td>24:4</td>
        <tr><td>2</td><td>Cruzeiro</td><td>24</td><td>12</td><td>7</td><td>3</td><td>2</td><td>12</td><td>21:9</td>
        <tr><td>3</td><td>Bragantino</td><td>23</td><td>12</td><td>7</td><td>2</td><td>3</td><td>3</td><td>14:11</td>
        <!-- Agregá el resto de los equipos con el mismo formato -->
        </tbody>
    </table>
</div>