
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
  --amarillo: #ffe600;
  --naranja: #ff7a00;
  --rosado: #ff4fa6;
  --violeta: #9b5de5;
  --rojo: #ff3c38;
  --azul: #00bbf9;
  --blanco: #ffffff9a;
  --celeste_claro:#2db4c670;
    --colortablas:#007b8a;

  --fondo: #0e0e0e;
  --gradiente-tutifruti: linear-gradient(135deg, var(--naranja), var(--rosado), var(--azul));
  --gradiente-hover: linear-gradient(to right, var(--azul), var(--violeta));
}







.inscription-window {
  background-color: #2e2f3e; 
  width: 90%;
  max-width: 1150px;
  margin: 40px auto;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  padding: 20px;
   
}


.inscription-window-top {
  position: relative;
  height: 50px; 
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.logo-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 150px; 
  opacity: 0.75; 
  z-index: 1;
}



.inscription-window-top h1 strong {
  position: relative;
 font-family: 'Open Sans', sans-serif;
  font-size: 3.0rem;
  z-index: 2;
  letter-spacing: 3px;
background: var(--gradiente-tutifruti);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
   text-transform: uppercase;
  text-fill-color: transparent;
}

.maximo-y-minimo {
  color: #ffffff;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}


.inscription-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px; 
  margin-top: 20px;
}


.players-container {
  flex: 1;
  max-width: 400px;
  min-width: 280px;
  height: 450px;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.514); 
  border: 3px solid var(--colortablas);
  border-radius: 10px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  justify-content: flex-start;

  scrollbar-color: rgba(0, 0, 0, 0.842) var(--colortablas);

  scrollbar-width: auto;
  scroll-behavior: auto;
}


.players-card {
  width: 100%;
  max-width: 300px;
  background: linear-gradient(to right, #b9aeb5, #999999); 
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 10px 8px var(--colortablas);
  border: rgba(70, 70, 62, 0.324) solid 6px;
}

.players-card p {
  margin: 0;
  font-weight: 600;
  color: black;
  text-align: center;
  align-items: center;
}

.players-card i {
  font-size: 1.3rem;
  color: black;
  user-select: none;
  cursor: pointer;
  transition: color 0.3s, transform 0.2s;
}

.players-card i.bi-star {
  color: #ef0b0b; 
}

.players-card i.bi-person-plus {
  color: #0df00d; 
}

.players-card i:hover {
  transform: scale(1.2);
  color: #ffffffcb;
}


#botton-window {
  flex: 1;
  max-width: 400px;
  min-width: 280px;
  background-color: #0000007d; 
  padding: 20px;
  border-radius: 10px;
 border: 3px solid var(--colortablas);
  color: rgb(255, 0, 0);
}










#btn-inscribir {
  position: relative;
  display: inline-block;
  z-index: 0;
  padding: 0.8rem 1.8rem;
  font-weight: 600;
  font-size: 1.05rem;
  color: #ffffff;
  border-radius: 10px;
 background: #007b8a;
  border: 2px solid transparent;

  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, border-color 0.3s ease;
}

#btn-inscribir::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;


  opacity: 0;
  transition: opacity 0.8s ease;
  z-index: -1;
}



#btn-inscribir:hover::before {
  opacity: 1;
}


#btn-inscribir:hover {
  transform: scale(1.02);
  border-color: var(--azul); 
}


#btn-inscribir:disabled {
  background: #ffffff;
  color: #aaa; 
  box-shadow: none;
  cursor: not-allowed;
  border-color: transparent;
  opacity: 0.7; 
}
#btn-inscribir:disabled:hover {
  background: #f5f5f5; 
  color: #aaa;
  box-shadow: none;
  border-color: transparent;
}

#botton-window {
    min-height: 450px; 
    max-height: 450px; 
    overflow-y: auto;
    padding-right: 10px; 
}