<div class="inscription-window p-4 rounded-4 shadow">
    <div class="inscription-window-top position-relative text-center">
        <img src="./assets/img/logo.png" alt="Logo PlayOn" class="logo-background">
        <h1 class="text-white position-relative"><strong>Inscribir Participantes</strong></h1>
    </div>
    <div class="input-group w-50 mx-auto mt-4">
        <input type="text" class="form-control" placeholder="Buscar participantes..." aria-label="Buscar torneos">
        <button class="btn btn-light" type="button">
            <i class="bi bi-search"></i>
        </button>
    </div>
    <p class="maximo-y-minimo">El torneo admite inscribir entre <Strong class="minimo-participantes"></Strong> y <strong class="maximo-pariticipantes"></strong> participantes</p>
    <div class="inscription-content d-flex gap-4 mt-4">
        <div id="players-container" class="players-container">
            <!-- tarjetas dinámicas aquí -->
        </div>

        <div id="botton-window">
            
            <table class="table table-dark table-striped mt-3" id="tabla-inscriptos">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Inscripciones</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Se agregan participantes aquí -->
                </tbody>
            </table>
        </div>
    </div>
    <div class="text-center mt-4">
        <button id="btn-inscribir" class="btn btn-success px-5 py-2 fs-5" disabled>
            Inscribir
        </button>
    </div>
</div>