<!-- <h2 class="home-bienvenida">Bienvenido a <span class="playon-title">PlayOn</span></h2> -->
<div class="tournament-window  rounded-4 shadow ">
    <div class="tournament-window-top position-relative text-center">
        <!-- <img src="./assets/img/logo2.png" alt="Logo PlayOn" class="logo-background"> -->
        <h2 class="text-white position-relative"><strong>Ultimos Torneos creados</strong></h2>
    </div>

    <div class="tournament-container mt-4">
    <!-- Cabecera -->
        <img src="./assets/img/logo2.png" alt="Logo PlayOn" class="logo-background-container">
        <div class="tournament-header row justify-content-between text-white px-4 py-2">
            <strong class="col-3">Nombre</strong>
            <strong class="col-3">Ubicacion</strong>
            <strong class="col-3">Modalidad</strong>
            <strong class="col-2">Fecha Inicio</strong>
            <strong class="col-1">Estado</strong>
        </div>

        <div id="tournament-container" class="tournament-container">
        <!-- Aquí se insertan las tarjetas dinámicamente -->
            <div class="tournament-card d-flex justify-content-between align-items-center px-4 py-3 my-2 rounded text-white">
                <p>tarjeta Pendiente</p>
                <p> Pendiente</p>
            </div>
        </div>
    </div>
</div>
<div class="tournament-winners position-relative text-center">
    <!-- <img src="./assets/img/logo2.png" alt="Logo PlayOn" class="logo-background-winners"> -->
    <h2 class="text-white text-center"><strong>Últimos Campeones</strong></h2>
    <div id="winners-container" class="mt-3"></div>
</div>